# files
.dockerignore
.editorconfig
.env-example
.eslintignore
.eslintrc.js
.gitignore
.node-version
.prettierrc
Dockerfile
LICENCE
README.md
tslint.json

# folders
.circleci
.github
build
node_modules
scripts