@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@import 'react-toastify/dist/ReactToastify.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'react-dates/lib/css/_datepicker.css';

:root {
  --toastify-color-dark: #01283c;
}

.Toastify {
  &__toast-container {
    width: 420px;
  }

  &__toast {
    border-radius: 1rem;
    padding: 1rem;

    &-icon {
      width: unset;
      margin-inline-end: 1.5rem;
    }
  }
}
