@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
.Table .Table_filter__fields {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1.25rem 0.625rem;
  font-weight: normal;
}
.Table .Table_filter__fields input,
.Table .Table_filter__fields select,
.Table .Table_filter__fields button,
.Table .Table_filter__fields .DateRangePickerInput {
  margin: 0 0.625rem;
  font-family: 'Roboto Condensed', sans-serif;
  background: #f0f4f9;
  color: #636971;
  border-radius: 3px;
}
.Table .Table_filter__fields input svg path,
.Table .Table_filter__fields select svg path,
.Table .Table_filter__fields button svg path,
.Table .Table_filter__fields .DateRangePickerInput svg path {
  fill: #636971;
}
.Table .Table_filter__fields .orderType {
  max-width: 100px;
}
.Table .Table_filter__fields .token {
  max-width: 100px;
}
@media (max-width: 768px) {
  .Table .Table_filter__fields {
    width: initial;
    overflow-x: scroll;
  }
}

@media (max-width: 768px) {
  .Table .transaction-table-wrapper {
    overflow-x: scroll;
  }
  .Table .transaction-table-wrapper .transaction-table-inner {
    width: 55rem;
  }
}

.Table .ReactVirtualized__Table__headerRow {
  font-size: 0.8rem;
  padding: 0.625rem 1.25rem 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: normal;
}

@media (max-width: 768px) {
  .Table .ReactVirtualized__Table__headerRow,
  .Table .ReactVirtualized__Table__Grid,
  .Table .ReactVirtualized__Grid__innerScrollContainer,
  .Table .ReactVirtualized__Table__row {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.Table .ReactVirtualized__Table__row {
  color: white;
  padding: 1.25rem;
  font-family: 'Roboto', sans-serif;
  background: transparent;
}
.Table .ReactVirtualized__Table__row:nth-child(2n) {
  background: #042d41;
  border-top: 1px solid #0c3549;
  border-bottom: 1px solid #0c3549;
}

.Table .icon {
  margin-right: 5px;
}

.Table .address {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  padding: 0.2rem 0.5rem;
  font-size: 1.1em;
  background: #073d57;
  border-radius: 0.2rem;
  display: block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Table .DateRangePickerInput {
  width: 300px;
  height: 40px;
  padding-left: 1px;
  border-radius: 0.4rem !important;
  border: 1px solid #c8cdd2;
}
.Table .DateRangePickerInput .DateInput,
.Table .DateRangePickerInput .DateInput_input {
  background: transparent;
}

.Table .pagination {
  justify-content: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  background: #042d41;
  border-top: 1px solid #0c3549;
}
.Table .pagination .pageNumber {
  padding: 0.2rem 0.5rem;
  font-size: 1.1em;
  border-radius: 0.2rem;
  color: white !important;
}
.Table .pagination .pageNumber.active {
  background: #107491;
}

.Table .Buy {
  color: #f9787a;
}

.Table .sell {
  color: #72cc98;
}
