@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

@import '../../../../assets/styles/_colors';
@import '../../../../assets/styles/_fonts';

body {
  background-color: #002233;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-title-font;
}

hr {
  border-top: 0.0625rem solid #828282;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 3vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BondsWrapper {
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .pane {
    padding: 2.5rem;
    padding-top: 0px !important;
    width: 90%;
    flex: 1;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .tablinks {
    background-color: $tab-title-background-color;
    display: flex;

    @media screen and (min-width: 480px) {
      justify-content: space-between;
    }

    &.sidebar {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 2.8rem;
      padding-bottom: 2rem;
      z-index: 2;

      @media screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
      }
    }

    .tablinks_tablink {
      // border: 1px solid #0C3549;
      display: block;
      flex-grow: 1;
      text-align: center;
      padding: 0.5rem 0 0.5rem 0;
      text-decoration: none;
      color: $tab-title-color;
      font-family: $tab-title-font;
      font-size: normal;
      text-transform: uppercase;
      position: relative;

      &:hover > div {
        opacity: 1;
        left: 100%;
      }

      &.active {
        color: $tab-title-color-active;
      }

      &.support {
        background: #0c3549;
        flex-grow: 0;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.125rem;
      }

      &.icon {
        &.home {
          background-image: url(../../../../assets/img/sidebar/home.svg);
        }
        &.trades {
          background-image: url(../../../../assets/img/sidebar/refresh.svg);
        }
        &.orders {
          background-image: url(../../../../assets/img/sidebar/history.svg);
        }
        &.wallet {
          background-image: url(../../../../assets/img/sidebar/wallet.png);
        }
        &.settings {
          background-image: url(../../../../assets/img/sidebar/settings.svg);
        }
        &.global {
          background-image: url(../../../../assets/img/sidebar/global.svg);
        }
        &.account {
          background-image: url(../../../../assets/img/sidebar/account.svg);
        }
        &.investment {
          background-image: url(../../../../assets/img/sidebar/investment.svg);
        }
        &.target {
          background-image: url(../../../../assets/img/sidebar/target.svg);
        }
        &.claim {
          background-image: url(../../../../assets/img/sidebar/claim.svg);
        }
        &.governance {
          background-image: url(../../../../assets/img/sidebar/governance.svg);
        }
        &.portfolio {
          background-image: url(../../../../assets/img/sidebar/portfolio.svg);
        }

        background-origin: border-box;
        background-repeat: no-repeat;
        background-position: center;
        width: 74px;
        height: 55px;
        flex-grow: 0;
        margin: 0.5rem 0;
        &.active {
          border-left: 6px solid #00d2ff;
        }
        @media screen and (max-width: 768px) {
          margin: 0;
          &.active {
            border-left: none;
            border-top: 6px solid #00d2ff;
          }
        }
      }
    }
  }

  .mobile-header {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      font-weight: normal;
      font-size: 2.25rem;
      line-height: 1.25;
      color: white;
      margin-top: 2em;
      text-align: center;
    }
  }
}

.BondsWrapper_panel {
  border: 1px solid $body-border-color;
  border-radius: 3px;
  background-color: $body-background-color;
  margin: 0.75rem;

  &.exchange_panel {
    max-width: 40em;
    margin: 2rem auto;
  }

  &.orders_panel {
    padding-top: 2rem;
  }

  form {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    margin: 2.5rem;
  }
}

.BondsWrapper_panel__chrome {
  border-radius: 0.1rem;
  background: linear-gradient(357.98deg, #002d42 2.22%, #012639 96.94%);
  border: 1px solid #0c3549;

  &.Table {
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &.orders {
    margin-top: 1.25rem;
  }
}

.BondsWrapper_panel__content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  // padding-top: 1.25rem;
}

.active,
.tablinks_tablink:hover {
  text-decoration: none;
  color: $tab-title-color-active;
  // background-color: lighten( $tab-title-background-color, 2% );
}

.tablinks_tablink:active {
  text-decoration: none;
  color: green;
}
