header {
  margin-bottom:60px;
  padding:15px 0;
}

header img {
  height:40px;
}

.ping {
  margin-bottom:0;
}

.ping span{
  background:rgb(240, 0, 0);
  border-radius:50%;
  box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
  display:inline-block;
  width:10px;
  height:10px;
}

.ping .loading {
  margin-left: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255,165,0,1);
  background:rgb(255, 165, 0);
  animation: flashing 1s infinite;
}

@keyframes flashing {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(255,165,0,1);
  }
  50% {
    box-shadow: 0px 0px 10px 1px rgba(255,200,0,1);
    background:rgb(255, 200, 0);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgba(255,165,0,1);
  }
}

.ping .ready {
  margin-left: 5px;
  background:rgb(162, 240, 45);
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 64);
}
