.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
}

.CalendarDay__selected {
  color: white;
}

.CalendarDay__selected:hover {
  border-color: blue;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: lightblue;
}