.Toastify__toast-container {
  width: 300px;
}

.Toastify__toast {
  min-height: 30px;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  text-transform: uppercase;
  padding: 5px 20px 5px 30px;
  margin-bottom: 0;
  font-family: Roboto Condensed, sans-serif;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: center;
  display: flex;
  transition: all 0.3s ease;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 300px;
  z-index: 999;
  right: 0;
  top: 7rem;
}

@keyframes toastPulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.Toastify__toast:before {
  background-size: 80%;
  content: ' ';
  width: 40px;
  height: 40px;
  position: absolute;
  left: 11px;
  z-index: 1;
  top: calc(50% - 20px);
  border-radius: 50%;
  padding: 5px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.Toastify__toast:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 6px;
  top: calc(50% - 25px);
  border-radius: 50%;
  padding: 5px 10px;
  z-index: 0;
  animation: toastPulse 1.5s infinite ease;
}

.Toastify__toast-body:before {
  content: ' ';
  border-style: solid;
  border-width: 10px 15px 10px 0;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  height: 20px;
}

.Toastify__toast-body {
  padding: 10px;
  margin: 0 -20px 0 27px;
  border-radius: 2px;
  position: relative;
}

.Toastify__close-button {
  margin: auto;
  line-height: 0;
  display: none;
}

.Toastify__close-button--default {
  display: none;
}

.successToast .Toastify__toast-body {
  background-color: #70b03f !important;
  color: #fff !important;
}

.successToast .Toastify__toast-body:before {
  border-color: transparent #70b03f transparent transparent;
}

.successToast:before {
  background-image: url('../assets/images/toast-tick.png');
}

.successToast:after {
  background: #70b03f;
}

.errorToast .Toastify__toast-body {
  background-color: #b00042 !important;
  color: #fff !important;
}

.errorToast .Toastify__toast-body:before {
  border-color: transparent #b00042 transparent transparent;
}

.errorToast:before {
  background-image: url('../assets/images/toast-cross.png');
}

.errorToast:after {
  background: #b00042;
}

.warningToast .Toastify__toast-body {
  background-color: #ff9800 !important;
  color: #fff !important;
}

.warningToast .Toastify__toast-body:before {
  border-color: transparent #ff9800 transparent transparent;
}

.warningToast:before {
  background-image: url('../assets/images/toast-warning.png');
}

.warningToast:after {
  background: #ff9800;
}

.errorToast {
  color: #fff !important;
}

.warningToast {
  color: #fff !important;
}
