
.Toastify__toast-container {
    width: 300px;
}
.Toastify__toast {
    min-height: 30px;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    padding: 5px 20px 5px 30px;
    margin-bottom: 0;
    font-family: Roboto Condensed,sans-serif;
    letter-spacing: 0.3px;
    line-height: 20px;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    width: 300px;
}

@keyframes pulse {
	0%   { transform: scale(0); opacity: 1}
	30%   { opacity: 1}
	100% { transform: scale(1); opacity: 0}
}

.Toastify__toast:before {
    background-size: 80%;
    content: ' ';
    width: 40px;
    height: 40px;
    position: absolute;
	left: 11px;
	z-index: 1;
    top: calc(50% - 20px);
    border-radius: 50%;
	padding: 5px 10px;

    background-position: center;
    background-repeat: no-repeat;
}

.Toastify__toast:after {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	left: 6px;
	top: calc(50% - 25px);
	border-radius: 50%;
	padding: 5px 10px;
	z-index: 0;

	animation: pulse 1.5s infinite ease;
}

.Toastify__toast-body:before {
    content:" ";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
	height: 20px;
}
.Toastify__toast-body {
    padding: 10px;
    margin: 0 -20px 0 27px;
    border-radius: 2px;
    position: relative;
}
.Toastify__close-button--default {
    display: none;
}

.successToast .Toastify__toast-body {
    background-color: #7fae50 !important;
    color: #FFF !important;
}
.successToast .Toastify__toast-body:before {
    border-color: transparent #7fae50 transparent transparent;
}

.successToast:before {
    background-image: url('../assets/images/toast-tick.png');
}

.successToast:after {
	background: #7fae50;
}

.errorToast .Toastify__toast-body {
    background-color: #ad5151 !important;
    color: #FFF !important;
}
.errorToast .Toastify__toast-body:before {
    border-color: transparent #ad5151 transparent transparent;
}

.errorToast:before {
    background-image: url('../assets/images/toast-cross.png');
}

.errorToast:after {
    background: #ad5151;
}

.warningToast .Toastify__toast-body {
    background-color: #ed9432 !important;
    color: #FFF !important;
}
.warningToast .Toastify__toast-body:before {
    border-color: transparent #ed9432 transparent transparent;
}

.warningToast:before {
    background-image: url('../assets/images/toast-warning.png');
}

.warningToast:after {
    background: #ed9432;
}

.errorToast {
    color: #FFF !important;
}

.warningToast {
    color: #FFF !important;
}