.tabsRoot {
  width: 100%;
  height: 100%;
}

.tabsList {
  border-bottom: none !important;
}

.tabsList::before,
.tabsList::after {
  display: none !important;
}

.tab {
  outline: none;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 10px;
}

.tabLabel {
  font-weight: bold;
  color: #a8adae;
  font-size: 16px;
}
