@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap");

$header-title-font: 'Roboto Condensed', sans-serif;
$header-title-font-size: 1.188rem;

$header-value-font: $header-title-font;
$header-value-font-size: 1.688rem;


$token-font-size: 0.75rem;


$tab-title-font: $header-title-font;
$tab-title-font-size: $header-title-font-size;


$form-label-font: 'Roboto', sans-serif;
$form-label-font-size: 1rem;
$form-submit-button-font: $header-title-font;
$form-subtitle-label-font: $form-label-font;
$form-subtitle-label-font-size: 0.875rem;


$token-font-size: 0.65rem;

