@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap");
body {
  background-color: #002233;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif; }

hr {
  border-top: 0.0625rem solid #828282; }

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center; }

.App {
  text-align: center; }

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 3vmin;
  pointer-events: none; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.BondsWrapper {
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .BondsWrapper {
      flex-direction: column; } }
  .BondsWrapper .pane {
    flex-grow: 1;
    padding: 2.5rem; }
  .BondsWrapper .tablinks {
    background-color: #012639;
    display: flex; }
    @media screen and (min-width: 480px) {
      .BondsWrapper .tablinks {
        justify-content: space-between; } }
    .BondsWrapper .tablinks.sidebar {
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem 0;
      z-index: 2; }
      @media screen and (max-width: 768px) {
        .BondsWrapper .tablinks.sidebar {
          flex-direction: row;
          justify-content: space-between;
          padding: 0; } }
    .BondsWrapper .tablinks .tablinks_tablink {
      display: block;
      flex-grow: 1;
      text-align: center;
      padding: 0.5rem 0 0.5rem 0;
      text-decoration: none;
      color: white;
      font-family: "Roboto Condensed", sans-serif;
      font-size: normal;
      text-transform: uppercase; }
      .BondsWrapper .tablinks .tablinks_tablink.active {
        color: #87DEF6; }
      .BondsWrapper .tablinks .tablinks_tablink.icon {
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        width: 65px;
        height: 55px;
        flex-grow: 0;
        margin: 0.5rem 0; }
        .BondsWrapper .tablinks .tablinks_tablink.icon.home {
          background-image: url(../../../../assets/img/sidebar/home.svg); }
        .BondsWrapper .tablinks .tablinks_tablink.icon.trades {
          background-image: url(../../../../assets/img/sidebar/refresh.png); }
        .BondsWrapper .tablinks .tablinks_tablink.icon.orders {
          background-image: url(../../../../assets/img/sidebar/history.png); }
        .BondsWrapper .tablinks .tablinks_tablink.icon.wallet {
          background-image: url(../../../../assets/img/sidebar/wallet.png); }
        .BondsWrapper .tablinks .tablinks_tablink.icon.settings {
          background-image: url(../../../../assets/img/sidebar/settings.png); }
        .BondsWrapper .tablinks .tablinks_tablink.icon.active {
          border-left: 6px solid #00d2ff; }
        @media screen and (max-width: 768px) {
          .BondsWrapper .tablinks .tablinks_tablink.icon {
            margin: 0; }
            .BondsWrapper .tablinks .tablinks_tablink.icon.active {
              border-left: none;
              border-top: 6px solid #00d2ff; } }
  .BondsWrapper .mobile-header {
    display: none; }
    @media screen and (max-width: 768px) {
      .BondsWrapper .mobile-header {
        display: block;
        font-weight: normal;
        font-size: 2.25rem;
        line-height: 1.25;
        color: white;
        margin-top: 2em; } }

.BondsWrapper_panel {
  border: 1px solid #02476b;
  border-radius: 3px;
  background-color: #012639;
  margin: 0.75rem; }
  .BondsWrapper_panel.exchange_panel {
    max-width: 40em;
    margin: 2rem auto; }
  .BondsWrapper_panel.orders_panel {
    padding-top: 2rem; }
  .BondsWrapper_panel form {
    width: 100%; }
  @media screen and (min-width: 480px) {
    .BondsWrapper_panel {
      margin: 2.5rem; } }

.BondsWrapper_panel__chrome {
  border-radius: 0.1rem;
  background: linear-gradient(357.98deg, #002d42 2.22%, #012639 96.94%);
  border: 1px solid #0c3549; }
  .BondsWrapper_panel__chrome.Table {
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .BondsWrapper_panel__chrome.orders {
    margin-top: 1.25rem; }

.BondsWrapper_panel__content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }

.active,
.tablinks_tablink:hover {
  text-decoration: none;
  color: #87DEF6; }

.tablinks_tablink:active {
  text-decoration: none;
  color: green; }
